.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main {
    margin-left: 0;
  }
}