.user__info {
  max-width: 450px;
  width: 100%;
  background: var(--user-info-bg);
  transition: margin-right .3s ease 0s;
  margin-right: -450px;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid var(--setting-border-color);

    h1 {
      flex: 1;
      color: var(--text-color-primary);
      font-size: 24px;
    }
  }

  &__icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s ease 0s;
    cursor: pointer;

    &:hover {
      background: var(--setting-svg-hover);
    }

    svg {
      width: 25px;
      height: 25px;
      margin-left: 1px;
      fill: var(--svg-secondary-color);
    }
  }

  &__avatar {
    width: 100%;
    position: relative;
    aspect-ratio: 1 / 1;

    img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }

    &__text {
      position: absolute;
      z-index: 1;
      width: 100%;
      bottom: 0px;
      left: 0px;
      padding: 15px;
      background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);

      p {
        margin-top: 3px;
        font-size: 14px;
      }
    }
  }
}