.video{
  width: 420px;
  height: 520px;
  background: var(--chat-send-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 24px;

  &.fill{
    width: 100vw;
    height: 100vh;
    .video__avatar{
      top: 50%;
    }
  }

  &__item{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
  }

  &__avatar{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

    img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }

    &__gradient{
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }

  &__text{
    font-size: 18px;
  }

  &__btns{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .video__btn:nth-child(1){
      width: 45px;
      height: 45px;
      svg{
        width: 30px;
        height: 30px;
        path{
          fill: #fff;
        }
      }
    }

    .video__btn:nth-child(2){
      svg{
        width: 30px;
        height: 30px;
        stroke: #fff;
      }
    }

    .video__btn:nth-child(3){
      svg{
        width: 30px;
        height: 30px;
        stroke: #fff;
      }
    }
    .video__btn:nth-child(3):last-child{
      width: 45px;
      height: 45px;
      svg{
        width: 25px;
        height: 25px;
      }
    }
    .video__btn:nth-child(4){
      width: 45px;
      height: 45px;
      svg{
        width: 25px;
        height: 25px;
      }
    }
  }

  &__btn{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 50%;
    transition: all .3s ease 0s;

    &:hover{
      background: #5e5d5d;
    }

    &.red{
      background: red;
      border-color: transparent;
      &:hover{
        background: rgb(187, 5, 5);
      }
    }

    &.green{
      background: rgb(6, 209, 6);
      border-color: transparent;
      &:hover{
        background: green;
      }
    }
  }
}